@import "../../stylesheets/_variables.scss";

.loginPage__form__wrapper{
  width: 100%;
  margin: 8% 0;

  .wallet_background{
    min-height: 45%;	
    width: 45%;
    height: auto;
    position: fixed;
    top: 15%;
    left: 10%;
  }
}

.login-form {
  border-radius: 4px;
  margin: 0 54%;
  width: 415px;
  height: 375px;
  text-align: center;

    .md-divider{
        display: none;
    }

    .md-password-btn{
        background-color: plum;
    }

    .login-form__container {
      height: 98%;
      border-radius: 20px;
      box-shadow: 2px 2px 106px 2px rgba(0, 0, 0, 0.1) inset;
    }

    .login-form__title {
      font-family: Roboto;
      font-size: 56px;
      line-height: 1.14;
      padding-top: 5%;
      padding-right: 4%;
      text-align: center;
      color: $purple;
    }

    .login-form__submit {
        margin: 64px 0px;
        height: 40px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: 0.7px;
        text-align: center;
        color: white;
        width: 96%;
        background-color: $medium-purple !important;
    }

    .md-text-field {
        width: 70px;
        height: 16px;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1;
        text-align: left;
        color: $gray;
    }

    .login-form__content {
        margin-left: 52px;
        margin-right: 46px;
        margin-bottom: 18px;
    }

    .login-form__input {
        height: 32px;
        line-height: 1.15;
        margin-top: 25px;
        width: 96%;
    }

    .login-form__message {
        color: $red;
    }

    .md-background--primary {
        background: $medium-purple !important;
    }

    .md-text-field {
        width: 100%;
    }
}
