@import './variables';


.LoginPage {
  height: 100%;
  width: 100%;
  background: url(/images/bg-shapes.svg) no-repeat top left;
  background-size: cover;
  background-color: $ice-blue;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;

  &__form__wrapper {
    width: calc(355px / .70);
    margin: 12% auto;
  }

  &--loading {
    height: 100%;
    width: 100%;
    background: $ice-blue;
    position: relative;
    transition: background 1s ease-in-out;

    .Loading {
      position: absolute;
      top: 45%;
      left: 45%;
    }
  }
}

/* Windows desktop */
@media only screen and (min-width: 1366px) {
  .LoginPage  {
    overflow-y: hidden;
  }
}