// Import standard theme color definitions
@import '../../../node_modules/react-md/src/scss/_colors';

$white: #fff;
$green: $md-green-500;
$red: $md-red-500;
$lightgrey:#b6b6b6;
$grey:grey;
$tealish: #30a1b0;
$ice-blue: #ebfffe;
$deep-orange: $md-orange-900;

//Colors
$almost-white: #fafbfb;
$err-red: #f18989;
$active: #f26220;
$active-background: rgba(242, 98, 32, 0.1);
$looks-good: #45b030;
$review-now: #b03030;
$watch: #e2bc2c;

$boxshadow: #868686;
$bg-light-blue: #e6f6ff;

// App
$banner: #00273c;
$sub-banner: #244f67;
$title-row: #D4E3EC;
$callout-box:#f3f3f3;
$header-offwhite: #f9f9f9;
$table-light: #ffffff;
$table-dark: #e6f6ff;;
$menu-drawer: #9b9b9b;
$button: #000;
$disabled-button-grey: #9b9b9b;
$no-information-grey: #c1c1c1;
$border: #d8d8d8;
$light-blue-grey: #e6f6ff;
$border-team:#9da8ae;
$tooltip: #4A4A4A;

// Font colors
$white: #f9f9f9;
$black: #000;
$placeholder: #9b9b9b;
$inactiveTab: rgba(0, 0, 0, 0.4);
$warm-grey: #858585;
$header-blue: #1c3b4e;
$slate-blue: #577b8e;

// Fonts
$main-font: "Roboto", sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$heavy: 500;
$bold: 700;

// Layout
$navbar-height: 64px;